#movie-page {
	background-color: white;
	padding-left: 15px;
	padding-top: 20px;
}
#movie-title {
	background-color: rgb(204,184,156);
}
#movie-title h1 {
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 2rem;
	padding-left: 30px;
	padding-top: 5px;
}
#movie {
	padding-right: 15px;
}
#movie div.col-sm-3 {
	padding-left: 5%;
}
#movie h5 {
	padding-top: 10px;
	font-size: 1rem;
}
#movie a.btn-primary {
	background-color: rgb(19,40,79);
	color: rgb(204,184,156);
	border-color: rgb(204,184,156);
}
.movie-data {
	padding-top: 20px;
}
#box {
	min-height: 50px;
	background-color: rgb(225,225,225);
	text-align: center;
	font-style: italic;
	padding-top: 10px;
	padding-bottom: 10px;
}
/******************************************************************/
/******************* Media Queries *******************************/
/*****************************************************************/
@media screen and (max-width: 1200px) {
	#movie div.col-sm-3 {
		padding-left: 25px;
	}
	.movie-data p {
		font-size: 0.8rem!important;
	}
}
@media screen and (max-width: 991px) {
	#movie-title h1 {
		font-size: 1.8rem;
	}
	#movie div.col-sm-3 {
		padding-left: 5px;
		padding-right: 5px;
	}
	#movie h5 {
		padding-top: 5px;
		font-size: 0.9rem;
	}
	#movie p {
		font-size: 0.9rem;
	}
	#movie .btn {
		font-size: 0.8rem;
	}
	.movie-data p {
		font-size: 0.7rem!important;
		margin-bottom: 5px;
	}
}
@media screen and (max-width: 767px) {
	.movie-data img{
		width: 40%!important;
	}
	#box {
		margin-top: 10px;
	}
	
}


@media screen and (max-width: 575px) {
	#movie-title h1 {
		font-size: 1.2rem;
	}
	#movie-page {
		padding-top: 10px;
		padding-left: 5px;
	}
	#movie div.col-sm-3 {
		padding-left: 25px;
	}
	#movie h5 {
		padding-top: 5px;
		font-size: 0.7rem;
	}
	#movie p {
		font-size: 0.7rem;
	}
}