#newsletter-page {
	background-color: white;
	min-height: 600px;
	padding-left: 15px;
	padding-top: 20px;
}
#newsletter-registration {
	padding-right: 80px;
	padding-top: 80px;
	padding-left: 80px;
}
#newsletter-title {
	background-color: rgb(204,184,156);
}
#newsletter-title h1 {
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 1.8rem;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 5px;
}
#newsletter-registration .form-check-label {
	font-size: 0.8rem;
}
#newsletter-registration button.btn-primary {
	background-color: rgb(19,40,79);
	color: rgb(204,184,156);
	border-color: rgb(19,40,79);
}
/******************************************************************/
/******************* Media Queries *******************************/
/*****************************************************************/
@media screen and (max-width: 575px) {
	#newsletter-registration {
		padding-right: 20px;
		padding-left: 5px;
		padding-top: 40px;
	}
}
