body{
	background: url('assets/img/background.jpg') no-repeat fixed;
    background-size: 100%;
}


/********************************************************************* 
************************ HEADER **************************************
**********************************************************************/
header{
	background-color: rgb(19,40,79);
}