body{
	background: url('assets/img/background.jpg') no-repeat fixed;
    background-size: 100%;

    font-family: "Open Sans", sans-serif;
    letter-spacing: 1.2px;
    color: rgb(19,40,79);
}


/********************************************************************* 
************************ HEADER **************************************
**********************************************************************/
header{
	background-color: rgb(19,40,79);
	color: rgb(204,184,156);
}

header a{
	color: rgb(204,184,156);
	font-size: 0.8em;
	text-align: right;
}

header a:hover{
	color: white;
	text-decoration: none;
}

.fa-film{
	margin-right: 10px;
	margin-left: 20px;
	margin-top: 10px;
}

header h2{
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 900;
	font-size: 2em;
}

header .nav-link{
	font-size: 15px;
	margin-top: 15px;
}

/********************************************************************* 
************************ FOOTER **************************************
**********************************************************************/
footer{
	background-color: rgb(19,40,79);
	color: rgb(204,184,156);
}

footer .nav{
	margin-top: 40px;
	margin-bottom: 50px;
}

footer a{
	color: rgb(204,184,156);
	font-size: 0.8em;
	text-align: center;
	
}

footer a:hover{
	color: white;
	text-decoration: none;
}

footer .first{
	border-right: 1px solid rgb(204,184,156);
	
}

footer .nav-link{
	height: 10px;
	line-height: 0;
}



/********************************************************************* 
************************ ASIDE **************************************
**********************************************************************/

#aside{
	margin-top: 20px;
}

#aside p{
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 900;
	font-size: 0.8rem;
	border-left: 3px solid rgb(19,40,79);
	padding-left: 15px;
	border-radius: 2px;
	margin-top: 50px;
}

#aside hr{
	margin-top: 5px;
	margin-bottom: 5px;
}

#aside a{
	color: rgb(180,66,31);
}

#share i{
	font-size: 2rem;
	padding-right: 10px;
	margin-top: 10px;
}

#share i:hover{
	color: rgb(180,66,31);
}

#last-article{
	font-size: 0.8rem;
}


/*********************************************************************************
************************ HOME ****************************************************
*********************************************************************************/
#home{
	background-color: white;
}

/************************** Placard *************************************/

#placard{
	background-color: rgb(204,184,156);
	border: 5px solid rgb(180,66,31);
	border-radius: 20px;
	margin: 5%;
	padding: 10px;
	text-align: center;
	font-weight: 600;
}

#placard p{
	font-size: 1.2em;
}

#placard h2{
	font-family: "Lato", sans-serif;
	font-weight: 600;
	margin-bottom: 20px;
	margin-top: 20px;
	line-height: 1.4;
}

#placard h1{
	font-size: 1.7em;
	font-weight: bold;
	font-family: "Lato", sans-serif;
	margin-bottom: 10px;
	line-height: 1.4;
}

#free{
	background-color: rgb(180,66,31);
	color: rgb(204,184,156);
	font-weight: 600;
}

#free p{
	padding: 2px;
}

#placard button{
	background-color: rgb(19,40,79);
	color: rgb(204,184,156);
	font-weight: bold;
	border-color: rgb(19,40,79);

}

#placard-right p{
	font-size: 1.1em;
}


@media screen and (max-width: 768px) {
	#placard h1{
		font-size: 1.6em;	
	}
	#placard h2{
		font-size: 1.7em;
		margin-bottom: 15px;	
	}
}

/************************** additional button on mobile *************************************/

#btnPresentation button{
	background-color: rgb(19,40,79);
	color: rgb(204,184,156);
	font-weight: bold;
	border-color: rgb(19,40,79);.
}

#btnPresentation{
	margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
	#btnPresentation {
		display: none;
	}

}

/************************** Carousel posters *************************************/

.carousel-item h5{ /* legends item */
	font-size: 1rem;
	font-weight: 900;
	text-align: center;
	line-height: 1.5;
	background-color: rgb(19,40,79);
	color: rgb(204,184,156);
	margin-top: 20px;
	margin-bottom: 0;
}

/************************** Festival presentation *************************************/


#homeFestivalPresentation h2{
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: bold;
	margin-top: 50px;
}

@media screen and (max-width: 360px){
	#homeFestivalPresentation h2{
		font-size: 1.5rem;
	}
	#homeFestivalPresentation p{
		font-size: 0.8rem;
	}
}

/************************** Google map *************************************/

#google-map{
	margin-bottom: 50px;
}